{% extends 'base.html' %}
{% block content %}
    <!-- Header -->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Carrito de compras</h1>
                <p class="lead fw-normal text-white-50 mb-0">administra tus compras!</p>
            </div>
        </div>
    </header>
    
    <br>

    <div class="container">
        {% if carro_productos %}
        {% for producto in carro_productos %}
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ producto.imagen.url }}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">{{ producto.descripcion }}</p>
    
                        {% if producto.is_oferta %}
                            <!-- Sale badge -->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem;">Oferta</div>
                            <strike>
                                ${{ producto.precio }}
                            </strike>
                            &nbsp;
                            ${{ producto.oferta_precio }}
                        {% else %}
                            ${{ producto.precio }}
                        {% endif %}
                        <br>
                        <br>
    
                    </center>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
          Vacio
        {% endif %}
    </div>
{% endblock %}
