{% extends 'base.html' %}
{% block content %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Mechá</h1>
            <p class="lead fw-normal text-white-50 mb-0">Somos un taller mecánico!</p>
        </div>
    </div>
</header>

<!-- Acerca de -->
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a quam venenatis, dictum nisl eget, convallis ex. 
                    Vestibulum tempor ligula ut hendrerit bibendum. Duis ac dictum lacus. Duis cursus neque arcu, eget ultrices quam porttitor sit amet. 
                    Quisque accumsan id massa in malesuada. Vestibulum vestibulum sem nec enim pharetra varius. In nec lectus ligula. Sed in est rutrum, hendrerit justo ut, luctus erat. 
                    Nulla porttitor vulputate ullamcorper. Cras ac turpis et tellus tristique volutpat. Morbi nec ultrices nunc.
                    <br>
                    Nunc at fermentum lorem. Donec a ultrices quam. Praesent mollis, purus nec sodales posuere, tortor nulla eleifend nibh, et molestie elit lectus vitae nibh. 
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas a sodales odio. Proin egestas ipsum a iaculis tincidunt. 
                    Curabitur laoreet quam et ligula efficitur, sed vulputate justo vulputate. Aliquam accumsan urna id nibh mollis eleifend.
                    <br>
                    Phasellus eleifend, nisl vel suscipit sodales, urna ante egestas dolor, a tristique tellus lectus et nibh. Sed non sollicitudin nibh, a aliquam quam. 
                    Morbi dapibus sit amet ipsum quis sodales. Pellentesque imperdiet suscipit consequat. In eget mollis nunc. Etiam pellentesque scelerisque justo eu molestie. 
                    Proin facilisis sagittis massa, rhoncus lobortis libero tristique sed. Aliquam non velit sit amet ex dapibus rutrum. 
                    <br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}